@media only screen and (max-width: 600px) {



    
    .container{

        width: 100%;
        
    }
   
    .navbar img{

        left: 10px;

    }
    .navbar h1{
       
        margin-left: -140px;
        margin-top: 20px;
        font-size: 10px;
    }
    .home{

        display: none;
    }
    
        .navbar ul li button{

        margin-right: -40px;
        font-size: 12px;
        }

        .cart-value{

            right: 70px;
        }

        .hamburger{
            right: 15px;
        }

        .sidebar{

            width: 200px;
        }



    
.detail h1{

    font-size: 16px;
}

.arrow{

    left: 10px;
    font-size: 22px;
}

.detail .image img{

    width: 120px;
    height: 140px;
    margin-top: -40px;
   margin-left: 30px;
   
}

.detail .name{

    left: 50px;
    top: 290px;
    font-size: 16px;
    width: auto;

    
}

.detail .price{
    left: 150px;
    top: 330px;
    font-size: 13px;
    width: auto;
}

.detail h2{

    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    width: 300px;
    margin-top: 260px;
}

.detail .description{

    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    width: auto;
    margin-top: 10px;
    margin-bottom: auto;
}

.button-section{

    left: 100px;
}

.addCart button{

    left: 40px;
    width: auto;
   margin-top: 35px;
}


.cart-downbar{

   width: 330px;
   height: 300px;
    left: 10px;


}

#empty-cart-message{

    margin-top: 120px;
}

#totalPrice{

    font-size: 10px;
    font-weight: 700;
}




.cart-container-items{

    width: 300px;
    height: 200px;
    margin-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.cart-item{

    width: 100%;
}

.cart-item img{

    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
}

.cart-name{
    margin-left: 0px;
    font-size: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.cart-price{
    
    position: relative;
    font-size: 10px;
    
}
.cart-quantity{
    margin-left: 0px;
    font-size: 12px;
   
}

.cart-quantity-controls{

    margin-left: 110px;
    font-size: 12px;
    
    
}

.quantity-number{
   margin-left: -90px;
   margin-top: 40px;
    font-size: 10px;

}


}
